
*.ser
*.ser
*.ser
Android_code/android/.idea/caches/gradle_models.ser
Android_code/android/.idea/codeStyles/Project.xml
Android_code/android/.idea/gradle.xml
Android_code/android/.idea/misc.xml
Android_code/android/.idea/runConfigurations.xml
