<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射 接口 IBookDao -->
<mapper namespace="com.oukele.bookshop.ssm.dao.IUserTicketDao">
	
	<!-- 用户报名票务项目 -->
    <insert id="addUserTicket" parameterType="com.oukele.bookshop.ssm.entity.UserTicket">
        INSERT INTO UserTicket VALUES(#{userid},#{username},#{did},#{ticketdid},#{haddress},#{taddress},#{caddress},#{publickey},#{privatekey},#{remark})
    </insert>
	
    <!-- 查询用户已报名列表  -->
    <select id="listTicketByDid" resultType="com.oukele.bookshop.ssm.entity.UserTicket">
        select * from UserTicket where did=#{did}
    </select>

</mapper>