<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射 接口 IBookDao -->
<mapper namespace="com.oukele.bookshop.ssm.dao.IUserTicketDao">
	
	<!-- 用户报名票务项目 -->
    <insert id="addUserTicket" parameterType="com.oukele.bookshop.ssm.entity.UserTicket">
        INSERT INTO UserTicket VALUES(#{userid},#{username},#{did},#{ticketdid},#{haddress},#{taddress},#{caddress},#{publickey},#{privatekey},#{remark})
    </insert>
	
    <!-- 查询用户已报名列表  -->
    <select id="listTicketByDid" resultType="com.oukele.bookshop.ssm.entity.UserTicket">
        SELECT * FROM USERTICKET WHERE DID=#{did} AND REMARK IN (1, 6)
    </select>
	
	<!-- 转售列表 -->
	<select id="listTicketByTicketId" resultType="com.oukele.bookshop.ssm.entity.UserTicket">
        SELECT * FROM USERTICKET WHERE TICKETDID=#{ticketdid} AND REMARK=3
    </select>
	
	
	<!-- 0:购买上链中    2：转让上链中   5：转售上链中 -->
	<select id="listUserTicketStatus" resultType="com.oukele.bookshop.ssm.entity.UserTicket">
        SELECT * FROM USERTICKET WHERE REMARK IN(0,2,5)
    </select>
	
	<!-- 异步更新票务持有状态 -->
	<update id="updateUserTicketState" parameterType="com.oukele.bookshop.ssm.entity.UserTicket">
        UPDATE USERTICKET SET REMARK=#{remark} WHERE DID=#{did} AND ticketdid=#{ticketdid}
    </update>
	
	
</mapper>